* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
}

.box {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.5);
}

.line-h {
	line-height: 100px;
}

.box-number {
	background-color: darkblue;
	color: white;
}

.box-fizz {
	background-color: red;
	color: white;
}

.box-buzz {
	background-color: aqua;
}

.box-fizz-buzz {
	background-color: chartreuse;
}

#title {
	text-align: center;
}
